.section-header {
  color: $color-hex;
  width: 100%;
  text-align: center;
  &__title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-OpenSans;
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    padding: 16px 0 16px;
    font-family: $font-OpenSans;

  }
  &__border {
    max-width: 40px;
    border: 2px solid $color-hex;
    opacity: 0.8;
    margin: 0 auto 60px;
  }
}