$font-Montserrat: 'Montserrat', sans-serif;
$font-OpenSans: 'Open Sans' , sans-serif;

$color-gray: #f2f2f2;
$color-White-Smoke: #f5f5f5;
$color-hex: #29323c;
$color-conversion: #485563;
$color-gray91: #e8e8e8;
$color-gray-saturated: #eeeeee;
$color:#2b3746;